*.log
*.backup
*.md5sum
cleansockets.sh
.already_ran_update
phpunit.phar.1
mwcbuild*/
build.log
xTupleCommerce*
xTupleREST*
*.backup
*.log
*.tgz
*.ini
private/*
*.tar.gz
*.bak
*.config
sql/oa2client.sql
*composer.phar*
*phpunit.phar*
