[Unit]
Description=xTuple ERP NodeJS Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=always
StandardOutput=syslog
StandardError=syslog
User={DEPLOYER_NAME}
Group={DEPLOYER_NAME}
Environment=NODE_ENV=production
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier={SYSLOGID}
ExecStart=/usr/local/bin/node {XTDIR}/node-datasource/main.js -c {CONFIGDIR}/config.js
